/*  your css code here. If applicable */
body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	background-color:#f6f6f6;
	
}

.left{
	width:450px;
	margin-top:70px;
	display:inline-block;
}

form{
	display:flex;
	width:300px;
	background-color:white;
	flex-direction:column;
	padding:20px;
	border-radius:5px;
	gap:10px;
	box-shadow:0 0 10px #ccc;
}

form>input{
	padding:10px;
	border-radius:5px;
	border:1px solid #ccc;
	
}

#login{
	background-color:#1877f2;
	border-radius:5px;
	padding:10px 20px;
	border:none;
	color:white;
}
form #a{
	color:#1877f2;
	text-decoration:none;
}

#sign>button{
	background-color:#42b72a;
	padding:10px;
	border-radius:5px;
	width:300px;
	border:none;
	color:white;
}